<ion-header>
  <ion-navbar>
      <ion-searchbar type="text"
      [debounce]="500"
      placeholder="Enter Coin Symbol"
      [(ngModel)]="searchedCoin"
      (ionInput)="getCoinPrice($event)">
      </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="updateCoins($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let coin of coins">
    <ion-item *ngIf="allCoins[searchedCoin]?.CoinName != null">
        <span item-left><img class="logo" md-card-image src="https://www.cryptocompare.com{{allCoins[searchedCoin]?.ImageUrl}}"></span>
        <span item-left><p>{{ allCoins[searchedCoin]?.Name }}</p></span>
        <span item-right>USD {{ coin?.USD }}</span>
        <button (click)="addCoin()" ion-button item-right>
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let coin of myCoins ; let i = index">
    <ion-item (dblclick)="minimizeAll()"
    (click)="showInfoToggle(i)">
      <span item-left><img class="logo" md-card-image src="https://www.cryptocompare.com{{allCoins[coin]?.ImageUrl}}"></span>
      <span item-left>{{ allCoins[myCoins[i]].CoinName }}</span>
      <span item-right>{{ myCoinsPrice[i]?.USD }}</span>
    </ion-item>
    <div *ngIf="showInfo[i] == true">
      <ion-item>
        <h2>Market Cap</h2>
        <p>{{ myCoinsMarketCap[i]?.usd | currency:'USD':true }}</p>
      </ion-item>
      <ion-item>
        <span item-left>
          <h2>Value</h2>
          <p>USD {{ myCoinsPrice[i]?.USD }}</p> <!--- make this a changeable option in profile -->
          <p>BTC {{ myCoinsPrice[i]?.BTC }}</p>
          <p>ETH {{ myCoinsPrice[i]?.ETH }}</p>
        </span>
        <span item-right>
          <h2>Portfolio Value</h2>
          <p>USD {{ myAmount[i] | stackValue: myCoinsPrice[i]?.USD | number : '1.2-5'}}</p> <!--- make this a changeable option in profile -->
          <p>BTC {{ myAmount[i] | stackValue: myCoinsPrice[i]?.BTC | number : '1.2-5'}}</p>
          <p>ETH {{ myAmount[i] | stackValue: myCoinsPrice[i]?.ETH | number : '1.2-5'}}</p>
        </span>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="myAmount[i]"
        placeholder="Enter {{allCoins[coin]?.Name}}"
        (input)="updateCoinAmount($event, i)"></ion-input>
        <button (click)="removeCoin(i)" color="danger" ion-button item-end>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
